.grad{
    background: -webkit-linear-gradient(90deg, rgb(176, 191, 194) 0%, rgb(78, 131, 175) 100%);
}
.iconSize{
    font-size: 4rem;
}
.iconSiza{
    font-size: 3rem;
}
.navbar.scrolled{
    background: -webkit-linear-gradient(90deg, rgb(232, 186, 140) 0%, rgb(250, 163, 34) 100%);
}
