.grid{
    background: -webkit-linear-gradient(90deg, rgb(177, 201, 206) 0%, rgb(96, 151, 196) 100%);
    height: 120vh;
}
.grad{
    background: -webkit-linear-gradient(90deg, rgb(176, 191, 194) 0%, rgb(78, 131, 175) 100%);
}
.iconSize{
    font-size: 4rem;
}
.iconSiza{
    font-size: 3rem;
}