.grad{
    background: -webkit-linear-gradient(90deg, rgb(232, 186, 140) 0%, rgb(250, 163, 34) 100%);
}
.iconSize{
    font-size: 4rem;
}
.sep{
    height: 6rem;
}
.corBtm{
    background-color: rgb(102, 102, 102);
    height: 2rem;
    width: 11rem;
}
.navbar.scrolled{
    background: -webkit-linear-gradient(90deg, rgb(232, 186, 140) 0%, rgb(250, 163, 34) 100%);
}