body{
    height: 100vh;
}
.pfp{
    font-size: 2.3rem;
}
.grad{
    background: -webkit-linear-gradient(90deg, rgb(96, 147, 224) 0%, rgb(118, 132, 194) 100%);
}
.grayGrad{
    background: -webkit-linear-gradient(90deg, rgb(194, 194, 194) 0%, rgb(255, 255, 255) 100%);
}
.navbar.scrolled{
    background: -webkit-linear-gradient(90deg, rgb(232, 186, 140) 0%, rgb(250, 163, 34) 100%);
}
.separation{
    height: 5rem;
}
.homeIcon{
    width: 2rem;
    height: 2rem;
}