.grad{
    background: -webkit-linear-gradient(90deg, rgb(96, 147, 224) 0%, rgb(86, 113, 235) 100%);
}
.quadrado{
    background-color: #A7A0A0;
    width: 30rem;
    height: 10rem;
    display: flex;
    justify-content: center;
}
.btmFiltro{
    background-color: #A7A0A0;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}
.iconSize{
    font-size: 4rem;
}
.separation{
    height: 6rem;
}