.pfp{
    font-size: 2.3rem;
}
.grad{
    background: -webkit-linear-gradient(90deg, rgb(232, 186, 140) 0%, rgb(250, 163, 34) 100%);
}
.grayGrad{
    background: -webkit-linear-gradient(90deg, rgb(114, 114, 114) 0%, rgb(255, 255, 255) 100%);
}