.grad{
    background: -webkit-linear-gradient(90deg, rgb(96, 147, 224) 0%, rgb(86, 113, 235) 100%);
}
.quadrado{
    background-color: #9c9393;
    width: 20rem;
    height: 8rem;
    display: flex ;
    justify-content: center;
}
.btmFiltro{
    background-color: #a89b9b;
    width: 60rem;
    height: 05rem;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}
.iconSize{
    font-size: 4rem;
}
.separation{
    height: 6rem;
}