.grad{
    background: -webkit-linear-gradient(90deg, rgb(96, 147, 224) 0%, rgb(118, 132, 194) 100%);
}
.quadrado{
    background-color: #868585b6;
    width: auto;
    height: 8rem;
    display: flex ;
    justify-content: center;
}
.btmFiltro{
    background-color: #33302da6;
    width: 60rem;
    height: 05rem;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}
.iconSize{
    font-size: 4rem;
}
.separation{
    height: 6rem;
}