.grad{
    background: -webkit-linear-gradient(90deg, rgb(197, 105, 0) 0%, rgb(238, 143, 0) 100%);
}
.pfp{
    font-size: 2.3rem;
}
.imgLogo{
    width: 25rem;
}
.azulBB{
    background-color: #B8CDE1;
}
.azulBA{
    background-color: #7591AA;
}
@media only screen and (max-width: 990px) {
    
}